.footer{
    height: 133px;
    background: $bg-color;
    padding-left: 80px;
    padding-right: 100px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    @media (max-width: 375px),(max-width: 540px){
        display: none;
    }
}